@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
   background-color: #e9dfdfc7;
   color: #0f141e;
   font-size:   16px;
   font-weight: normal;
   font-family: 'Roboto' sans-serif;
}

a {
    color: black;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}

a:active {
    color: red;
}

a :visited {
    color: grey;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0 25);
}

.info p{
    color: #39393a;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

@media (max-widht:700px) {
    .info {
        display: block;
        text-align: center;
    }
}

.container{
    max-width: 750px;
   margin: auto; 
   padding-top: 30px;
}

.bg-yellow {
    background: #fff9dc;
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px; 
}
.list {
    padding: 0px 20px;
}
.list li{
    color: #252627;
    margin-bottom: 10px;
}
.table{
    width: 100%;
}
.table td{
    padding-bottom: 10px;
}
.table td:nth-child(2), table td:nth-child(3){
    color: #6c6c99;
}
/* .table tr:nth-child(even){
    background: #6c6c99;
} */
.contact h4{
    text-align: center;
}
.form-group label{
    display:block;
    font-size: 14px;
    color: #0f141e;
}
.form-group input, .form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.row{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    
}
.row > .form-group{
    width: 50%;
    margin-right: 20px; 
}
.row > .from-group:last-child {
}
.info {
    display: flex;
    margin-bottom: 20px;
}
.info-text {
    margin-left: 40px;

}
.info-text h4{
    margin-bottom: 10px;
}
.btn {
    background: #252627;
    padding: 15px 20px;
    color: #ffe5e5;
    cursor: pointer;
}
.div input{
    text-align: left;
}
.btn:hover{
    opacity: 0.9;
}